/* Global styles
   ====================================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    scroll-behavior: smooth;
    font-size: 16px;
}
  
.App,
#root,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: #FFFFFF;
}

/* Header styles
   ====================================================== */
.header {
    height: 75%;
    padding: 30px;
    background-image: linear-gradient(180deg, rgba(14,14,14,0.00) 43%, #0E0E0E 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

    &__logo{
        width: 58.6px;
    }

    &__title {
        margin-top: 79.2px;
        font-family: 'Righteous', cursive;
        font-size: 60px;
        letter-spacing: 0;
        line-height: 60px;
        width: 315px;
    }

    &__text {
        margin-top: 20px;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 24px;
        width: 315px;
    }

    &__btn {
        background-color: #FF2345;
        display: block;
        text-decoration: none;
        color: currentColor;
        border-radius: 28px;
        margin: 22px 0;
        font-size: 1rem;
        font-family: 'Righteous', cursive;
        line-height: 20px;
        padding: .8em;
        text-align: center;
        width: 259px;
    }
}

/* MovieOverview styles
   ====================================================== */
.movie-list {
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__load-btn {
        border: 2px solid #ffffff4b;
        border-radius: 28px;
        background: transparent;
        color: currentColor;
        font-size: 1rem;
        line-height: 20px;
        margin: 22px 0;
        padding: .8em;
        text-decoration: none;
        font-family: 'Righteous', cursive;
    }
}


.backdrop {
    background-color: rgb(216, 22, 22);
}