/* Global styles
   ====================================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-size: 16px;
}

.App,
#root,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #0E0E0E;
    color: #FFFFFF;
}

/* Header styles
   ====================================================== */
.header {
    height: 70%;
    position: relative;
    padding: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform-style: preserve-3d;
    background-image: url(//images.unsplash.com/photo-1517604931442-7e0c8ed2963c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2100&q=80);

    &__logo{
        width: 58.6px;
        transform: translateZ(1rem);
    }

    &__title {
        margin-top: .8em;
        font-family: 'Righteous', cursive;
        font-size: 3.5rem;
        letter-spacing: 0;
        line-height: 60px;
        width: 315px;
        transform: translateZ(1rem);
    }

    &__description {
        margin: 1em 0;
        font-size: 1.1rem;
        letter-spacing: 0;
        line-height: 24px;
        width: 315px;
        transform: translateZ(1rem);
    }

    &__btn {
        background-color: #FF2345;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        color: currentColor;
        border-radius: 28px;
        margin: 2em 0;
        font-size: 1rem;
        font-family: 'Righteous', cursive;
        line-height: 20px;
        padding: .8em;
        text-align: center;
        width: 250px;
        transform: translateZ(1rem);

        &__icon {
            font-size: 1.5rem;
        }
    }
}

.header::after,
.header::before {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}

.header::before {
    background: linear-gradient(180deg, rgba(14,14,14,0.00) 43%, #0E0E0E 100%);
    bottom: 0;
}

.header::after {
    background: linear-gradient(180deg, #0E0E0E 10%, rgba(14,14,14,0.00)60%);
    top: 0;
}

/* MovieOverview styles
   ====================================================== */
.movie-list {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__load-btn {
        border: 0.1em solid #ffffff4b;
        border-radius: 28px;
        background: transparent;
        width: 50%;
        color: currentColor;
        line-height: 20px;
        margin: 2em;
        padding: .8em 1em;
        text-decoration: none;
        font-family: 'Righteous', cursive;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: ' ';
            background-image: url(./assets/load-icon.png);
            width: 1.2rem;
            height: 1.2rem;
            display: inline-block;
            background-size: cover;
            margin-right: 1em;
        }
    }
}

/* Movie item styles
   ====================================================== */
.movie-item {
    width: 95%;
    height: 498px;
    margin: 20px 0;
    position: relative;

    &::after {
        content: ' ';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background: radial-gradient(circle, rgba(14,14,14,0) 0%, rgba(14,14,14,1) 100%);
        bottom: 0;
    }

    &__poster {
        width: 100%;
        height: 90%;
        object-fit: cover;
    }

    &__movie-info {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1em;
        z-index: 1;
        background: linear-gradient(180deg, rgba(14,14,14,0.00) 0%, #0E0E0E 40%);
        width: 100%;
        line-height: 1.5em;

        &__title {
            font-family: 'Righteous', cursive;
        }

        &__rating {
            font-size: .8rem;

            &::before {
                content: '❤❤︎❤︎❤︎❤︎'; //fallback for emoji-unicode
                content: '🖤🖤🖤🖤🖤';
                letter-spacing: .1rem;
                background: linear-gradient(90deg, #FF2345 var(--percent), rgba(255,255,255,0.10) var(--percent));
                background-clip: text;
                color: transparent;
                margin-right: 1.5em;
            }
        }
    }
}


/* Movie item styles
   ====================================================== */
.backdrop {
    background-color: #0e0e0e80;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    z-index: 2;
    backdrop-filter: blur(5px);

    &__icon {
        cursor: pointer;
        position: absolute;
        top: 2%;
    }
}

.modal {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #0E0E0E;

    &__poster {
        width: 100%;
        object-fit: cover;
        object-position: left top;
    }

    &__info {
        padding: 1.5em;
        position: absolute;
        bottom: 0;
        background-color: #0E0E0E;
        background: linear-gradient(180deg, #0e0e0e00 0%, #0E0E0E 10%);

        &__title {
            font-family: 'Righteous', cursive;
        }
    
        &__description {
            margin: 1em 0;
            font-size: 1.1rem;
            line-height: 24px;
        }
    
        &__btn {
            background-color: #FF2345;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-decoration: none;
            color: currentColor;
            border-radius: 28px;
            margin: 2em 0 0;
            font-size: 1rem;
            font-family: 'Righteous', cursive;
            line-height: 20px;
            padding: .8em;
            text-align: center;
            width: 250px;

            &__icon {
                font-size: 1.5rem;
            }
        }
    }
}